<nav class="navbar {{#if navcolor}}nav-white {{/if}}">
  <ul class="navbar-list menu-left">
    <li><a href="/">Home</a></li>
    <li><a href="/recipes">All the recipes</a></li>
    {{#if currentUser}}
      <li><a href="/create-recipe">Create a Recipe</a></li>
    {{/if}}
    <li><a href="/cooks">All our cooks</a></li>
    {{#if currentUser}}
      <li><a href="/create-cook">Create a Cook</a></li>
    {{/if}}
  </ul>

  <ul class="navbar-list menu-right">
    {{#if currentUser}}
      <li><a href="/logout">Log Out</a></li>
    {{else}}
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Log In</a></li>
    {{/if}}
  </ul>
</nav>