<nav>
  <ul>
    <li><a href="/recipes">All the recipes</a></li>
    <li><a href="/create-recipe">Create a Recipe</a></li>
    <li><a href="/cooks">All our cooks</a></li>
    <li><a href="/create-cook">Create a Cook</a></li>
  </ul>

  <ul>
    {{#if currentUser}}
      <li><a href="/logout">Log Out</a></li>
    {{else}}
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Log In</a></li>
    {{/if}}
  </ul>
</nav>