<div class="home-container">
  <h1>Welcome!</h1>

  <div class="home-text-container">
    <p>On this website, you can create recipes, update them and see all the recipes available.</p> 
    <p>Enjoy!</p> 
    <div class="btn-container">
      <button><a href="/create">Create recipes</a></button>
      <button><a href="/recipes">View all recipes</a></button>
      <button><a href="/create-cook">Add you favorite cook</a></button>
      <button><a href="/cooks">See all our cooks</a></button>
    </div>
  </div>

</div>

