<h1>Hello!</h1>

<p>On this website, you can create recipes, update them and see all the recipes available.</p> 

<p>Enjoy!</p> 

<button><a href="/create">Create recipes</a></button>
<button><a href="/recipes">View all recipes</a></button>
