/* GENERAL SETTINGS */

body,html {
  margin:0;
  padding:0;
}

body{
  font-family: 'Advent Pro', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main{
  flex: 1;
}

ul, li {
  padding:0;
  margin:0;
  list-style: none;
}

.centered {
  text-align: center;
}

.bg-img {
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.white-focus {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  width:50%;
  background-color: rgba(255,255,255,0.5)
}

a {
  text-decoration: none;
  color:white;
}

.btn-black{
  border-radius: 10px;
  background-color:black;
  border-color:black;
}

.btn-red{
  border-color:rgb(131, 16, 16);
  background-color:rgb(131, 16, 16);
}

.btn-white{
  border-radius: 10px;
  border-color:white;
  background-color:white;
}

.btn-sign{
  border-radius: 10px;
}

.bold{
  font-weight: bold;
}

/* NAVBAR */

.navbar{
  display:flex;
  align-items:center;
  height:5vh;
  background-color: black;
  color:white;
}

.navbar-list {
  width:50%;
  display:flex;
}

.navbar-list li {
  margin:1%;
}

.menu-right{
  justify-content: flex-end
}

.nav-white{
  background-color:white;
}

.nav-white a {
  color:black
}

/* FOOTER */

.footer {
  background-color: black;
  color:white;
  height:5vh;
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  display:flex;
  justify-content: center;
  align-items:center;
}

.footer-white {
  background-color:white;
  color:black
}

/* HOMEPAGE */

.home-container {
  background-image: url("../images/main.jpg");
}

.home-container h1{
  font-size: 4em;
  color:white;
}

.home-text-container {
  font-size:1.5em;
}

.btn-container {
  display:flex;
  width:80%;
  justify-content: center;
  text-align: center;
}

.btn-container button {
  margin:0 1%;
}

/* CREATE RECIPE - UPDATE RECIPE */

.create-container {
  background-image: url("../images/recipes-create.jpg");
}

.create-container h1 {
  color:white;
}

.create-form > div {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:1%;
}

.ingredients, .ingredients-button-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

/* SHOW ALL RECIPES */

.recipes-page{
  background-color:rgb(119, 38, 38);
  color:white;
  width:100%;
}

.recipes-page h1 {
  margin:0;
  padding:2%;
  color:black
}

.recipes-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  padding: 0 3%;
}

.recipe-container {
  display:flex;
  flex-direction:column;
  width:25%;
  padding: 1% 2%;
}

.recipe-container img {
  height: 40vh;
}

.recipe-header {
  display:flex;
  justify-content: center;
  align-items:center;
  text-align:center;
  height:15vh;
}

/* SHOW ONE RECIPE */

.recipe-page{
  background-color:black;
  width: 100%;
  height:90vh;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-details-container{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 70%;
  text-align: center;
}

.recipe-title-container{
  width:100%;
  color:white;
}
.recipe-main-container{
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 2%;
  background-color: rgba(255,255,255,0.5)
}

.recipe-main-container div {
  width:33%;
}

.recipe-main-container h2 {
  padding:0;
  margin:0
}

.recipe-image-container img {
  height: 40vh;
  width: 20vw
}

.btn-container-recipe{
  display:flex;
  justify-content: space-around;
  text-align: center;
  padding:2%;
}

.btn-container-recipe a {
  color:black;
}

.btn-container-recipe button {
  margin: 0 3%;
  width:100%
}

.creation-container a {
  color:black;
}

.creation-container a:hover{
  color:white
}

/* CREATE COOK */

.create-cook-container {
  background-image: url("../images/cook.png");
}

/* SHOW ALL COOKS */

.cooks-page{
  background-color:rgb(90, 100, 156);
  color:white;
  width:100%;
}

.cooks-page h1 {
  margin:0;
  padding:2%;
  color:black
}

.cooks-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  padding: 0 5%;
}

.cook-container {
  display:flex;
  flex-direction:column;
  width:15%;
  padding: 2%;
  align-items: center
}

/* COOK DETAIL */

.cook-page{
  background-color:rgb(146, 70, 70);
  color:white;
  width:100%;
  height:90vh;
}

.cook-page h1 {
  margin:0;
  padding:2%;
}

/* LOGIN AND SIGNUP PAGES */

.login-page, .signup-page{
  display:flex;
  justify-content: center;
  text-align:center
}

.login-page div, .signup-page div {
  margin: 2%
}

.account-message a {
  color:black
}