<div class="cook-page"> 
  <h1 class="centered">All {{cook.name}}'s recipes!</h1>

  <div class="recipes-container">
    {{#each recipes}}
      <article class="recipe-container">
        <header>
          <h2>{{title}}</h2>
        </header>
        <img src="{{image}}" alt="image of recipe">
        <button class="btn-red"><a href="/recipes/{{_id}}">View details</a></button>
      </article>
    {{/each}}
  </div>
</div>
