<div class="create-cook-container bg-img">
  <h1 class="centered">Add your favorite cook!</h1>

  <form action="/create-cook" method="POST" class="create-form">

    <div class="title-container">
      <label for="name">Name of your cook </label>
      <input type="text" name="name" required>
    </div>

    <div class="title-container">
      <label for="bio">Small bio </label>
      <textarea name="bio"></textarea>
    </div>

    <button type="submit">Add your favorite cook!</button>

  </form>
</div>

